<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>origShop</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="script.js" defer></script>
</head>
<body>
<div id="app">
    <header>
        <h1 class="title">origShop: authentic project</h1>
        <div class="search">
            <input type="text" class="goods-search" v-model="searchLine"/>
            <button class="search-button" type="button">Искать</button>
        </div>
        <div class="actions">
            <button @click="setCartDisplay" class="cart-button" type="button">КОРЗИНА</button>
        </div>
    </header>
    <main>
        <br>
        <div v-if="items.length" class="goods-list">
            <div class="goods-item" v-for="item in items">
                <h3>{{ item.product_name }}</h3>
                <p>{{ item.price }}</p>
            </div>
        </div>
        <div v-else>Нет данных</div>
    </main>
    <div v-if="isVisibleCart" class="fixed-area">
        <div class="basket-card">
            <div class="basket-card__header">
                <h1 class="basket-card__header__title">Basket card</h1>
                <div @click="setCartDisplay" class="basket-card__header__delete-icon"></div>
            </div>
            <div class="basket-card__content">
                basket info
            </div>
        </div>
    </div>
    <div>{{ searchLine }}</div>
</div>
</body>
</html>
