<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>origShop</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="script.js" defer></script>
</head>
<body>
<div id="app">
    <header>
        <h1 class="title">origShop: authentic project</h1>
        <div class="search">
            <span class="title">Поиск:</span>
            <search-component v-model="searchLine"></search-component>
        </div>
        <div class="actions">
            <custom-button v-on:click="setCartDisplay">КОРЗИНА</custom-button>
        </div>
    </header>
    <main>
        <br>
        <div v-if="items.length" class="goods-list">
            <goods-item v-for="item in filteredItems" v-bind:item="item" ></goods-item>
        </div>
        <div v-else>Нет данных</div>
    </main>
    <basket-goods v-if="isVisibleCart" v-on:closeclick="setCartDisplay"></basket-goods>
<!--    <div>{{ searchLine }}</div>-->
</div>
</body>
</html>
